<ion-view>
  <ion-nav-bar>
    <ion-nav-title>
      เที่ยวเว้ยเฮ้ย
    </ion-nav-title>
    <ion-nav-buttons side="left">
      <button class="button button-positive">คลิก</button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content>

    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search">
      </label>
    </div>











  <label class = "item item-input item-select">
     <div class = "input-label">
        Select
     </div>

     <select>
        <option>Option 1</option>
        <option selected>Option 2</option>
        <option>Option 3</option>
     </select>
  </label>
<br>

<select class="ui dropdown">
<option value="">Gender</option>
<option value="1">Male</option>
<option value="0">Female</option>
</select>




<select class="ui search dropdown">
<option value="">State</option>
<option value="AL">Alabama</option>
<option value="AK">Alaska</option>
<option value="AZ">Arizona</option>

  </ion-content>




</ion-view>
