<ion-view class="bgmain">

  <ion-content class="center">
    <img src="img/logo.png" style="width: 50%;height: 50%" class="center">
    <h2 style="color: #ffffff">ยินดีต้อนรับเข้าสู่ระบบทอ่งเที่ยว</h2>
    <p style="color: #ffffff" >เเนะนำสถานที่ทอ่งเที่ยว จากทุกมุมโลก</p>
    <ion-list >
      <div class="list center">
        <button class="button button-energized width80 shadow" ng-click='btngologin()'>Login</button>
        <button class="button button-calm   margin5 shadow" ng-click='btnhome()'>เข้าสู่หน้าหลัก</button>
        <p class="center" style="text-align: center;margin-top: 2%">เเอพพลิเคชั่น เวอร์ชั่น ทดสอบใช้งาน</p>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
