<ion-view>
  <ion-nav-bar>
    <ion-nav-title>
      ViesCompos
    </ion-nav-title>

  </ion-nav-bar>
  <ion-content>
    <img src="img/ionic.png" style="margin-left: auto;margin-right: auto;display: block; padding:2em;">
    <div class="list">
      <div class="item item-icon-left"> Name :  {{txtName}}</div>
      <div class="item item-icon-left">Nickname : {{txtNickName}}</div>
      <div class="item item-icon-left">Social : {{txtSocial}}</div>
      <div class="item item-icon-left">Mobile : {{txtMobile}}</div>
    </div>
  </ion-content>
</ion-view>
